@import '../../styles/colors';

.banner {
  background-image: url('../../assets/bg-profile.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 17vh;
}

.profile {
  .propertyList {
    *{
      font-size: 1.2rem;
    }
    li {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    }
  }
  .description {
    color: $accent;
    font-weight: bold;
    margin-right: 5px;
    i {
      margin-right: 5px;
    }
  }
}
  