$accent: rgb(219, 109, 35);
$primary: rgb(23, 90, 167);
$secondary: rgb(38, 167, 206);
$tertiary: rgb(169, 172, 173);

$app-bg: rgb(236, 232, 232);
$app-font: rgb(4, 7, 17);
$navbar-bg: rgb(37, 37, 37);
$navbar-font: rgb(240, 241, 247);

$status-active-bg: rgb(28, 111, 206);
$status-pending-bg: rgb(218, 47, 47);
$status-disable-bg: rgb(236, 216, 37);

$status-active-font: rgb(240, 243, 247);
$status-pending-font: rgb(22, 10, 11);
$status-disable-font: rgb(240, 243, 247);


$msg-info-bg: rgb(125, 224, 216);
$msg-info-font: rgb(6, 95, 95);
$msg-warning-bg: rgb(231, 225, 144);
$msg-warning-font: rgb(235, 111, 10);
$msg-error-bg: rgb(240, 155, 155);
$msg-error-font: rgb(122, 9, 9);

$btn-font-light: rgb(248, 244, 244);
$btn-font-dark: rgb(24, 4, 4);
